<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/_header') %> 
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <%- include ('./partials/_navbar') %> 
        <!-- Masthead-->
        <%- include ('./sections/_head') %> 
        <!-- Portfolio Section-->
        <%- include('./sections/_portfolio') %> 
        <!-- Footer-->
        <%- include('./partials/_footer') %>
        <!-- add Photo Modal-->
        <%- include('./modals/_mdlAddNewPhoto') %> 
        <!-- Portfolio Modal -->
        <%- include('./modals/_mdlPortfolio') %> 
        <!-- Edit Modal -->
        <%- include('./modals/_mdlEdit') %>         


    </body>
</html>
